VITE_API_URL=http://localhost:5000/api/v1
VITE_EVENTS_API_SYNC=true
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_...
VITE_ESTRATEGIA_FISCAL_GENERAL_STRIPE_URL=https://buy.stripe.com/...
VITE_ESTRATEGIA_FISCAL_VIP_STRIPE_URL=https://buy.stripe.com/...
VITE_CLOUDINARY_CLOUD_NAME=your_cloud_name
